# Count No of "True" in dataframe row

In [6]:
import numpy as np
import pandas as pd


data = {'a': [True,True,True],'b': [True,False,True],'c': [True,True,True]}
df = pd.DataFrame(data)
df['count'] = df[df == True].sum(axis = 1)
df['count'] = np.where(df['count']>2,1,0)

In [7]:
df

      a      b     c  count
0  True   True  True      1
1  True  False  True      0
2  True   True  True      1

# Objective
### Compute agg percentage and merge interval based on consecutive True present in value column

In [17]:
import pandas as pd
data1 = pd.Interval(0, 1, closed='right')
data2 = pd.Interval(1, 2, closed='right')
data3 = pd.Interval(2, 3, closed='right')
data4 = pd.Interval(3, 4, closed='right')
data5 = pd.Interval(4, 5, closed='right')
data6 = pd.Interval(5, 6, closed='right')
data7 = pd.Interval(6, 7, closed='right')
data8 = pd.Interval(7, 8, closed='right')
data9 = pd.Interval(8, 9, closed='right')
data10 = pd.Interval(9, 10, closed='right')

data = {'interval_data' : [data1,data2,data3,data4,data5,data6,data7,data8,data9,data10],
        'percent' : [.01,.02,1.03,.10,.05,1.07,20,30,.5,.5],
        "value" : [True,True,False,True,True,False,False,False,True,True]}

data1 = pd.DataFrame(data)

data1['lower'] = data1.interval_data.apply(lambda x : x.left)
data1['upper'] = data1.interval_data.apply(lambda x : x.right)

data1['value_u_shift'] = (data1['value'].shift(-1)).replace(np.nan, False).astype(bool)
data1['value_l_shift'] = data1['value'].shift(1).replace(np.nan, False).astype(bool)

data1['count'] = data1[['value','value_u_shift','value_l_shift']][data1 == True].sum(axis = 1)
data1['count'] = np.where(data1['count']>=2,1,0)
data1['count'] = np.where(data1['value']==False,0,data1['count'])

counter = 1
def funct(var):
    global counter
    if var == 1:
        return(counter) 
    else :
        counter = counter + 1
        return(var)
data1['n_count'] = data1['count'].apply(funct)

print("Output")
data1[data1['n_count']!=0].groupby(['n_count']).agg(agg_percent=("percent",sum),
                                                   lower_n = ("lower", lambda a : a.head(1)),
                                                   upper_n = ("upper", lambda a : a.tail(1))).reset_index()

Output

   n_count  agg_percent  lower_n  upper_n
0        1         0.03        0        2
1        2         0.15        3        5
2        5         1.00        8       10

In [18]:
print("Input")
data1[["value","percent","lower","upper"]]

Input

   value  percent  lower  upper
0   True     0.01      0      1
1   True     0.02      1      2
2  False     1.03      2      3
3   True     0.10      3      4
4   True     0.05      4      5
5  False     1.07      5      6
6  False    20.00      6      7
7  False    30.00      7      8
8   True     0.50      8      9
9   True     0.50      9     10